.login .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.heading{
    margin-bottom: 10px;
}
.paragraph{
    font-size: 1.5rem;
    color: grey;
    margin-bottom: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.field{
    width: 100%;
}
p{
    text-align: center;
}
.input-field{
    height: 50px;
    margin-top: 20px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    color: grey;
    padding: 10px;
}
