/* .step1_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: #b8b8b8;
  }
  .button-wrap {
    position: relative;
  }
  .button {
    display: inline-block;
    background-color: #1d6355;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button:hover {
    background-color: #00ab97;
  } */


input[type="file"]{
    display: none;
}
label {
    height: 50px;
    width: 250px;
    position: absolute;
    margin: auto !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: var(--color-primary);
    color : var(--color-light);
    align-items: center;
    justify-content: center;
}

.main_container h4{
    position: absolute;
    top: 25%;
    left: 25%;
}

.small-tooltip {
  background: yellow;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
  text-transform: capitalize;
  position: absolute;
  top: 270px;
  left: 203px;
}
.small-tooltip::after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -5px;
  transform: translate(-50%, -50%);
  left: 50%;
}