/* .search{
    margin-top: 10px;
}
.search .input_field{
    width: 100%;
    height: 50px;
    border: 0;
    font-size: 15px;
    outline: none;
}
.search .loading{
    position: relative;
    left: -10px;
}
.search .search_input{
    display: flex;
    align-items: center;
}
.search_container .user_content{
    display: flex;
    align-items: center;
}
.search_container .user_content .user_profile{
    height: 90px;
    width: 90px;
}
.search_container .user_content .user_profile img{
    height: 90px;
    width: 90px;
}
.search_container .user_content .user_detail{
    margin-left: 20px;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
} */

/* .search .container{
    grid-template-columns: 250px auto;
}
@media (max-width: 768px){
    .search .container{
        grid-template-columns: 80px auto;
    }
} */


.search_input input{
    width: 100%;
    height: 50px;
    padding: 2rem;
    border-radius: var(--border-radius);
}
.search_input .loading{
    width: auto;
    /* position: absolute; */
    /* top: 55px; */
    left: 20px;
    position: relative;
    bottom: 40px;
    left: 95%;
}
.search_container{
    padding : 20px
}
.search .suggestion{
    display : flex;
    align-items : center;
    justify-content : space-around;
}