.search{
    margin-top: 10px;
}
.search .input_field{
    width: 100%;
    height: 50px;
    border: 0;
    font-size: 15px;
    outline: none;
}
.search .loading{
    position: relative;
    left: -10px;
}
.search .search_input{
    display: flex;
    align-items: center;
}
.search_container .user_content{
    display: flex;
    align-items: center;
}
.search_container .user_content .user_profile{
    height: 90px;
    width: 90px;
}
.search_container .user_content .user_profile img{
    height: 90px;
    width: 90px;
}
.search_container .user_content .user_detail{
    margin-left: 20px;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}