/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@400;700&display=swap&family=Rubik:wght@400;200;300;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
.container {
  width: 768px;
  margin: 0 auto;
}
.btn,
.heading p {
  margin-top: 32px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-family: 'Rowdies', cursive;
  font-size: 5rem;
  font-weight: 700;
}
p {
  font-family: 'Rowdies', cursive;
  color: gray;
  font-weight: 400;
}
button {
  font-family: 'Rubik', sans-serif;
}
.social_btn {
  height: 40px;
  width: 70%;
  background-color: dodgerblue;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  border: 0;
}
.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.normal_btn {
  background-color: rgb(160, 17, 17);
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  font-weight: 600;
  width: 200px;
  margin-top: 10px;
  height: 50px;
}
.error {
  color: red;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.divider .line {
  width: 200px;
  height: 2px;
  background-color: grey;
  margin-top: 10px;
}
.icon_container{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_container .icons{
  font-size: 20px;
}

button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

.dropdown_select{

}
.dropdown_option{
   */
/* } */
/* @media only screen and (max-width : 768px){
  .container{
    width : 768px;
    margin : 0
  }
} */

/* @media only screen and (max-width : 600px){
  .container {
    width: 600px;
    margin: 0 auto;
  }
  h1 {
    font-family: 'Rowdies', cursive;
    font-size: 4.8rem;
    font-weight: 700;
  }
}

@media only screen and (max-width : 425px){
  .container {
    width: 425px;
    margin: 0 auto;
  }
  .social_btn {
    height: 40px;
    width: 80%;
    background-color: dodgerblue;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
  }
  h1 {
    font-family: 'Rowdies', cursive;
    font-size: 4.5rem;
    font-weight: 700;
  }
} */

/* @media only screen and (min-width : 320px){
  .container {
    width: 320px;
    margin: 0 auto;
  }
} */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');


:root{
  --color-white : hsl(252,30%,100%);
  --color-light : hsl(252,30%,95%);
  --color-gray : hsl(252,15%,65%);
  --color-primary : hsl(252,75%,60%);
  --color-secondary : hsl(252,100%, 90%);
  --color-success : hsl(120,95%,65%);
  --color-danger : hsl(0,95%,65%);
  --color-dark : hsl(252,30%,17%);
  --color-black : hsl(252,30%,10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding : 0.6rem 2rem;
  --search-padding : 1rem
}
*, *::before, *::after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}
body{
  font-family : "Poppins", sens-serif;
  color : var(--color-dark);
  background : var(--color-light);
  overflow-x: hidden;
}
h1{
  font-size : 3rem;
  font-family : 'Stalemate', cursive;
}
.container{
    width: 100%;
    margin : 0 auto;
    display: grid;
    grid-template-columns: 250px auto 30vw;
    column-gap: 2rem;
    position: relative;
}
/* .left{
    width: 250px;
    height: 100%;
} */
/* .left{
  height: max-content;
  position: sticky;
  
} */
.left .sidebar{
    background : var(--color-white);
    /* border-radius: var(--card-border-radius); */
    position: fixed;
left: 0;
top: 0;
height: 100%;
width: 250px;
}
.left .sidebar .logo{
    text-align: center;
    margin: 2rem;
}
.left .sidebar .menu-item {
    display : flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    translate: all 3000ms ease;
    position: relative;
}
/* .left .sidebar .menu-item .item{
    display : flex;
    align-items: center;
} */
.left .sidebar .menu-item:hover{
    background : var(--color-light);
}
.left .sidebar img{
    color : var(--color-gray);
    height : 25px;
    width: 25px;
    margin-left: 2rem;
    position: relative;
}
.left .sidebar .link_name{
  color: var(--color-primary);
}
.left .sidebar h3{
    margin-left: 1.5rem;
    font-size : 1rem;
}
.left .sidebar .active{
    background : var(--color-light);
}
.left .sidebar .active img, .left .sidebar .active h3{
    color: var(--color-primary);
}
.left .sidebar .active::before{
    content: '';
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}
/* .left .sidebar .menu-item:first-child.active{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
} */
/* .left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
} */

.middle{
    padding: 30px 20px;
}
.right{
  padding: 30px 20px;
  background: var(--color-white);
  margin: 20px;
  height: max-content;
}

.user_content{
  display: flex;
    align-items: initial;
}
.user_content .user_profile{
  height: 80px;
    width: 80px;
    border: 2px solid var(--color-primary);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_content .user_profile img{
  height: 100%;
  width: 100%;
}
.user_content .user_detail{
  display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 20px;
    line-height: 10px;
}
.user_content .user_detail .badge{
  color: var(--color-primary);
}
.btn{
  height: 50px;
  display: inline-block;
  padding:var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 3000ms ease;
  font-size: 0.9rem;
  background-color: var(--color-primary);
  color : var(--color-light)
}
.btn:hover{
  opacity: 0.7;
}
.suggestion{
  display : flex;
  align-items : center;
  justify-content : space-around;
}
@media (max-width: 1272px){
  .container{
    grid-template-columns: 250px auto;
}
.right{
  display: none;
}
}
@media (max-width: 768px){
    .container{
        grid-template-columns: 80px auto;
    }
    .container .right {
        display: none;
    }
    .left .sidebar{
        width: 80px;
    }
    .left .sidebar .logo h1{
        /* visibility: hidden; */
        font-size: 1.9rem;
    }
    .left .sidebar .menu-item .link_name{
        display: none;
    }
    h1{
      font-size :1.9rem
    }
}
@media (max-width: 600px){
  .left  .sidebar{
    transform:translate(0px);
  }
}